In [37]:
sc

https://github.com/databricks/spark-csv

In [38]:
from pyspark.sql import SQLContext
from pyspark.sql.types import *
sqlContext = SQLContext(sc)

Read data structure name

In [39]:
customSchema = StructType([ 
        StructField("Date", StringType(), True), \
        StructField("Open", DoubleType(), True), \
        StructField("High", DoubleType(), True), \
        StructField("Low", DoubleType(), True), \
        StructField("close", DoubleType(), True), \
        StructField("Volume_n", DoubleType(), True), \
        StructField("Volume_m", DoubleType(), True), \
        StructField("return", DoubleType(), True), \
        StructField("PE", DoubleType(), True)])

In [40]:
df = sqlContext.read \
.format('com.databricks.spark.csv') \
.options(header='true') \
.load('1101.csv', schema = customSchema)

In [41]:
df.show(1)

+--------+-----+-----+----+-----+--------+--------+------+-----+
|    Date| Open| High| Low|close|Volume_n|Volume_m|return|   PE|
+--------+-----+-----+----+-----+--------+--------+------+-----+
|1998/1/3|12.84|12.84|12.6| 12.6|  1624.0| 62200.0| -1.81|26.76|
+--------+-----+-----+----+-----+--------+--------+------+-----+
only showing top 1 row

In [42]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- Volume_n: double (nullable = true)
 |-- Volume_m: double (nullable = true)
 |-- return: double (nullable = true)
 |-- PE: double (nullable = true)

In [43]:
newDF = df.drop("Date")

In [44]:
newDF.show(3)

+-----+-----+-----+-----+--------+--------+------+-----+
| Open| High|  Low|close|Volume_n|Volume_m|return|   PE|
+-----+-----+-----+-----+--------+--------+------+-----+
|12.84|12.84| 12.6| 12.6|  1624.0| 62200.0| -1.81|26.76|
| 12.6| 12.7|12.44|12.44|  4952.0|187464.0| -1.32|26.41|
|12.44|12.44|12.21|12.24|  3408.0|126192.0|  -1.6|25.99|
+-----+-----+-----+-----+--------+--------+------+-----+
only showing top 3 rows

In [45]:
import pandas

In [46]:
df = newDF.toPandas().head()
df

    Open   High    Low  close  Volume_n  Volume_m  return     PE
0  12.84  12.84  12.60  12.60    1624.0   62200.0   -1.81  26.76
1  12.60  12.70  12.44  12.44    4952.0  187464.0   -1.32  26.41
2  12.44  12.44  12.21  12.24    3408.0  126192.0   -1.60  25.99
3  12.27  12.40  12.01  12.01    3207.0  117772.0   -1.90  25.49
4  11.97  12.11  11.87  11.87    3072.0  110927.0   -1.11  25.21

In [47]:
df['Open']

0    12.84
1    12.60
2    12.44
3    12.27
4    11.97
Name: Open, dtype: float64

converting pandas dataframes to spark dataframe

http://stackoverflow.com/questions/32966344/converting-pandas-dataframes-to-spark-dataframe-in-zeppelin

In [48]:
from pyspark.sql import SQLContext
sqlCtx = SQLContext(sc)
sqlCtx

In [49]:
sql = sqlCtx.createDataFrame(df).show()

+-----+-----+-----+-----+--------+--------+------+-----+
| Open| High|  Low|close|Volume_n|Volume_m|return|   PE|
+-----+-----+-----+-----+--------+--------+------+-----+
|12.84|12.84| 12.6| 12.6|  1624.0| 62200.0| -1.81|26.76|
| 12.6| 12.7|12.44|12.44|  4952.0|187464.0| -1.32|26.41|
|12.44|12.44|12.21|12.24|  3408.0|126192.0|  -1.6|25.99|
|12.27| 12.4|12.01|12.01|  3207.0|117772.0|  -1.9|25.49|
|11.97|12.11|11.87|11.87|  3072.0|110927.0| -1.11|25.21|
+-----+-----+-----+-----+--------+--------+------+-----+